@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .is-invalid {
    @apply border-red-700 border-2;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  #app {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Noto Sans TC", "微軟正黑體";
  }

  input[type="checkbox"] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    padding-left: 40px;
    background: url("../assets/check_0.png") no-repeat;
    background-size: 20px 20px;
    background-position: center left;
  }

  input[type="checkbox"]:checked + label {
    background: url("../assets/check_1.png") no-repeat;
    background-size: 18px auto;
    background-position: center left;
    text-decoration: line-through;
    color: #9f9a91;
  }
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  }

  .btn-plus {
    background-color: #333;
    background-image: url("../assets/plus.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .btn-del {
    background-image: url("../assets/del.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 15px;
  }

  .current {
    @apply border-b-2 border-font-main font-bold text-font-main;
  }
}
